*{
    margin: 0;
    padding: 0;
}

/* Navigation bar */
.navigationBar {
    background-color: #7ec4ff;
    display: flex;
    justify-content: end;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.menus {
    display: flex;
    margin-right: 1vh;
}

.menus li {
    list-style: none;
    margin: 2.7vh 1vh 2.7vh;    
}

.menus li a {
    text-decoration: none;    
    font-size: 1.2rem;
    padding: 0.9vh 3vh 0.9vh;
    border-radius: 20px;
    margin: 1vh 0 1vh;
    font-family: 'Bree Serif', serif;
    color: #4771a2ea;
}

.menus li a:hover {
    cursor: pointer;
    background-color: rgb(90, 133, 202);
    color: rgba(226, 233, 238, 0.911);
}

/* Home Section */
.home {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
}

.home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80vh;
    width: 100%;
    background: url("../images/navigationBackground.png") no-repeat center center/cover;
    opacity: .7;
    z-index: -1;     
}

/* About Section */
.aboutSection {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    padding-bottom: 20vh;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: azure;
}

.aboutmeIntro {
    display: flex;
    align-items: center;
    width: 50%;
    font-family: 'Merriweather', serif;
    line-height: 2.2rem;
}

.myprofilephoto {
    height: 24vh;
    margin: 4.5vh;
}

/* Skills Section */
.skillsSection {
    background-color: #b0e1eb;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10vh;
    padding-bottom: 13vh;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
}

.box img {
    height: 31vh;
    width: 16vw;
    margin: 5vh;
}

.box h4 {
    font-family: 'Roboto', serif;
}

/* Element Selectors */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    padding-bottom: 8vh;
}

/* Contact me */
.contactmeSection {
    background-color: #a3ebb4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10vh;
    padding-bottom: 13vh;
    align-items: center;
    width: 100%;
    height: 70vh;
}

/* Utility Classes */
.box {
    background-color: #edfdff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48vh;
    width: 20vw;
    border-radius: 20px;
    margin: 3vh;
    box-shadow: 2px 2px 8px #aba4a4;
}